h1 {
    color:ghostwhite;
    font-family: Helvetica;
    text-align: center;
}
#ThirdDiv {   
    width: 500px;
    height: 600px;
    background-color: steelblue;
    padding: 50px;
    border: 2px solid lightsteelblue;
    margin: auto;
}
#spanId {
    color: darkslategray;
    margin: 50px;
    text-align: center;
}
img {
    width: 400px;  
}
.divClass {
    text-align: center;   
}
body {
    background-image: url(17545.jpg);
    background-position: cover;
    text-align: center; 
}